html, 
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-image: url("../images/dc.png");
    background-repeat: repeat;
    font-family: sans-serif;
    color: purple;
    box-sizing: inherit;
}

h1 {
    font-size: 80px;
    text-align: center;
    border: 5px dotted green;
    background-color: rgba(245, 245, 245, .8);
    max-width: 40%;
    margin: 75px auto;
}

h2 {
    font-size: 50px;
    margin: 10px 50px;
}

div {
    max-width: 45%;
    border: 5px dashed green;
    background-color: rgba(245, 245, 245, .9);
    text-align: left;
    margin: 30px;
}

.git {
    float: left;
}

.github {
    float: right;
}

.gitcommands {
    clear: both;
    margin: 0 auto;
    margin-bottom: 75px;
    max-width: 65%;
}

li {
    list-style-image: url("../images/git.jpeg");
    padding-bottom: 10px;
    margin-left: -10px;
    font-size: 20px;
}

.red {
    color: red;
    font-size: 20px;
}

footer {
    clear: both;
    max-width: 20%;
    border: 5px dashed green;
    background-color: rgba(245, 245, 245, .9);
    margin: 40px auto;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 100px) and (max-width: 1400px) {
    body {
        margin: 0 auto;
    }
    
    .git {
        float: none;
        display: block;
        margin: 30px auto;
    }
    
    .github {
        float: none;
        display: block;
        margin: 30px auto;
    }
    
    .gitcommands {
        float: none;
        display: block;
        margin-bottom: 75px;
        max-width: 90%;
    }

    div {
        max-width: 90%;
        padding: 7px;
    }

    h1 {
        max-width: 90%;
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }
}

@media screen and (min-width: 750px) and (max-width: 1400px) {
    body {
        margin: 0 auto;
    }
    
    .git {
        float: none;
        display: block;
        margin: 30px auto;
    }
    
    .github {
        float: none;
        display: block;
        margin: 30px auto;
    }
    
    .gitcommands {
        float: none;
        display: block;
        /* margin: 0 auto; */
        margin-bottom: 75px;
        max-width: 85%;
    }

    div {
        max-width: 85%;
    }

    h2 {
        font-size: 35px;
        text-align: center;
    }
    
    h1 {
        max-width: 45%;
        font-size: 50px;
    }
}