body {
    background-image: url("../images/dc.png");
    background-repeat: repeat;
    font-family: sans-serif;
    color: purple;
}

h1 {
    font-size: 80px;
    text-align: center;
    border: 5px dotted green;
    background-color: rgba(245, 245, 245, .8);
    width: 40%;
    margin: 75px  auto;
}

h2 {
    font-size: 50px;
    margin: 10px 50px;
}

div {
    width: 45%;
    border: 5px dashed green;
    background-color: rgba(245, 245, 245, .8);
    text-align: left;
    margin: 30px;
}

.git {
    float: left;
}

.github {
    float: right;
}

.gitcommands {
    clear: both;
    margin: 0 auto;
    margin-bottom: 75px;
}

footer {
    clear: both;
}

li {
    list-style-image: url("../images/git.jpeg");
    padding-bottom: 10px;
    font-size: 20px;
}
