html, 
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #ccc;
    color: navy;
    box-sizing: inherit;
}

header {
    text-align: center;
}

.left {
    width: 39%;
    float: left;
}

.right {
    width: 60%;
    float: right;
}

main {
    clear: both;
    padding-top: 50px;
}

h1 {
    font-size: 55px;
}

h3 {
    font-size: 40px;
}

h4 {
    text-decoration: underline;
    font-size: 30px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
}

footer > p {
    font-size: 20px;
}

p,
li {
    font-size: 20px;
}

ul,
p {
    margin-top: 5px;
    margin-bottom: 5px;
}

img {
    margin-left: 30px;
}

.dedent {
    margin-left: -10px;
}


@media screen and (min-width: 100px) and (max-width: 1300px) {
    body * {
        text-align: center;
    }

    h1 {
        font-size: 45px;
    }
    
    h3 {
        font-size: 30px;
    }

    .left {
        margin: 20px auto;
        max-width: 90%;
        float: none;
        display: block;
    }

    ul {
        margin: 0 auto;
        text-decoration: none;
        list-style-type: none;
        list-style: none;
        /* padding: 10px; */
    }
    
    ol {
        /* margin-bottom: 20px; */
    }

    ol > li {
        padding: 0px;
        margin: 10px auto;
        list-style-type: none;
        text-decoration: none;
        margin-left: -30px;
    }

    .right {
        margin: 0 auto;
        max-width: 95%;
        float: none;
        display: block;
    }

    img {
        margin-left: -30px;
        margin: 0 auto;
        max-width: 85%;
    }

    li {
        margin-top: 5px;
        padding: 10px;        
    }
}
